{% extends 'base.html.twig' %}

{% block title %}Entreprisesecteur{% endblock %}

{% block body %}
    <h1>Entreprisesecteur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Secteurreference</th>
                <td>{{ entreprisesecteur.secteurreference }}</td>
            </tr>
            <tr>
                <th>Secteurpincipalreference</th>
                <td>{{ entreprisesecteur.secteurpincipalreference }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ entreprisesecteur.libelle }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entreprisesecteur.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('entreprisesecteur_index') }}">back to list</a>

    <a href="{{ path('entreprisesecteur_edit', {'secteurreference': entreprisesecteur.secteurreference}) }}">edit</a>

    {{ include('entreprisesecteur/_delete_form.html.twig') }}
{% endblock %}
